//colors
$yellow:#f9d423;
$grey:#7f8c8d;
$red:#f85f40;
$green:#1abc9c;
$blue:#0faff1;
$orange:#f1540f;
$footer-bg-color:#2a2a2;

//size

$nav-height:90px; //размер футора
$view-port:1200px; //ширина блоков в контенте
