@import "../partials/varibles";
@import "../partials/mixins";
@import "../common/grid";

.right-sidebar {
  background: $white_gray;
  height: 900px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    &.links-list {
      padding: 30px;
      h2 {
        color: $gray;
        margin: 0;
      }
    }
    &.sub-list {
      li {
        font-size: 18px;
        border-bottom: 1px solid $light_gray;
        &:last-child {
          border: none;
        }
        a {
          display: inline-block;
          padding: 10px;
          border: none;
        }
      }
    }
    li {
      width: 100%;
    }
  }
}