@import "partials/params";
@import "partials/mixins";
@import "common/grid";



.offset-wrapper {
    padding-left: 42px;
    min-height: 100vh;
    position: relative;
    transition: margin-left 300ms ease;
    @include breakpoint($small_screen_only) {
        padding-left: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}
